# Ignorar TextMesh Pro para las estadísticas de lenguaje
Assets/TextMesh?Pro/** linguist-generated

# Si tienes otros plugins pesados, agrégalos igual:
Assets/Plugins/** linguist-generated

# Opcional: Si quieres ignorar todos los shaders del proyecto en las estadisticas
*.shader linguist-generated
